
{{ define "title" }}欢迎使用 - KOmpanion{{ end }}

{{ define "content" }}
<form class="auth-form" method="post">
    {{if .error}}
    <div class="error-message">
        {{.error}}
    </div>
    {{end}}
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="用户名" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="密码" required>
    </div>
    <button type="submit" class="btn-primary">登录</button>
</form>
{{ end }}
