{{ define "title" }}Reading Statistics - KOmpanion{{ end }}

{{ define "content" }}
<article>
    <header>
        <h1>阅读统计</h1>
    </header>

    <section>
        <form method="GET" action="/stats" class="grid">
            <input type="date" id="from" name="from" value="{{ .from }}">
            <input type="date" id="to" name="to" value="{{ .to }}">
            <button type="submit" style="flex-grow: 1;">Update</button>
        </form>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>书名</th>
                    <th>页数</th>
                    <th>用时</th>
                    <th>天数</th>
                </tr>
            </thead>
            <tbody>
                {{ range .stats.BookStats }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>{{ .TotalReadPages }}</td>
                    <td>{{ formatDuration .TotalReadTime }}</td>
                    <td>{{ .TotalReadDays }}</td>
                </tr>
                {{ end }}
                <tr class="total-row">
                    <td><strong>总计</strong></td>
                    <td><strong>{{ .stats.TotalReadPages }}</strong></td>
                    <td><strong>{{ formatDuration .stats.TotalReadTime }}</strong></td>
                    <td><strong>{{ .stats.AveragePagePerDay }} pages/day</strong></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <h2>每日阅读统计</h2>
        <img src="/stats/chart?from={{ .from }}&to={{ .to }}" alt="Daily Reading Progress"
            style="width: 100%; max-width: 800px;">
    </section>
</article>
{{ end }}
